@import url('https://fonts.googleapis.com/css?family=Slabo+27px|Gochi+Hand|Coiny|Exo');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Coiny', cursive;
}
html,
body {
  margin: 0;
  height: 100%;
  position: relative;
  

}
nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 5;
  padding-top: 1.5em;
  padding-bottom:2em;
  color: #333333;
  border-radius: 0px 0px 150px 150px;
}
nav a{
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#16151b;
  font-size:16px;
  padding:2px;
  position:relative;
  display:inline-block;
}

nav a:hover{
  text-shadow: 2px 2px pink;
}

  @keyframes in{
    0%{
      width: 0;
      left:0;
      right:auto;
    }
    100%{
      left:0;
      right:auto;
      width: 100%;
    }
  }
  @keyframes out{
    0%{
      width:100%;
      left: auto;
      right: 0;
    }
    100%{
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes show{
    0%{
      opacity:0;
      transform:translateY(-10px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }
  
  @for $i from 1 through 5 {
    nav a:nth-child(#{$i}){
      animation:show .2s #{$i*0.1+1}s ease 1 both;
    }
  }
  a:hover {
    color: #1899D6;
    border: none;

    transition: 1s;
  }
h1{
    font-size: 3em;
}
h1:hover {
  text-shadow: 2px 2px pink;

}

.list-text {
    text-align: center;
    margin-top: 120px;
}  

.documents, .aboutUs, .design{
    display: flex;
    flex-direction: column;
    background-color:#fcd494;
    width:40%;
    min-width: 300px;
    margin:auto;
    color:black;
    align-items: center;
    justify-content: center;
  }



h3{
    text-transform: uppercase;
    padding: 0.5em;
    font-size: 1em;
    background-color: #f5ad39;
    color: black;
    border-bottom: 5px solid #5e3e1d;
    box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.35);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 800px;
    margin-left:auto;
    margin-right: auto;

  }

.aboutPageh3{
    padding-top: 60px;
}

.productCatagory{
    margin-top: 60px;
}


h4 {
  text-transform: uppercase;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  background-color: #f5ad39;
  color: black;
  border-bottom: 5px solid #5e3e1d;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.35);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:40%;
  min-width:300px;

}

 

.container {
  position: relative;
  padding: 1em;
  padding-top: 7em;
  min-height: 95%;
  line-height: 1.5em;
  justify-content: center;
  background: white;
}

.icon {
  display: inline;
  height: 100px;
  width: 100px;
  vertical-align: middle;
  margin: 0.8em;
  box-shadow: none;
}

button {
  margin: auto;
  padding: 0.75em;
  font-size: 1.1em;
  font-family: "Ubuntu Mono", monospace;
  text-transform: uppercase;
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.35);
  border-radius: 10px;
    border: none;
}

button > a {
  color: black;
}

button:hover {
  transform: scale(1.1);
  background-color: pink;
  border-radius: 5px;
  transition: 1s;
}



.btn-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  border: none;
  transition: 1s;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.flex-item {
  display: block;

}

img {
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.35);
  border-radius: 50px;

}

#product-image {
      width: 150px;
      height: 150px;
    }
.centerImage{
    display: flex;
    justify-content: center;
}

#productName {
    margin-left: 50px;
    margin-right: 50px;
  }

#productText{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flex-item > a {
  box-sizing: border-box;
  padding: 0.25em;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.61);
}
.flex-item > a:first-child {
  padding-left: 1em;
}
.flex-item > a:hover {
  color: #1899D6;
  z-index: 100;
      text-shadow: 2px 2px pink;
}


.container {
  padding: auto;
  padding-top: 9em;
  background-color: #fcd494;
}

.aboutP{
    min-width: 300px;
    text-align: center; 
  }

.clearfix > div{
    max-width: 1200px;
    display: flex;
    margin: auto;
}

.clearfix{
    background-color: #fcd494;
}
span{
    background-color: white;
    padding:10px;
    border-radius: 25px;
}

  @media screen and (max-width: 601px) {
    nav{
      flex-flow: column wrap;
      padding:0;
      
      }
      nav a{
        margin:0.2em;
      }
    
      h1{
        font-size:2em;
        margin:0;
      }
      
    .price {
      margin-left: 350px;
      }

    .list-text {
      margin-left: auto;
      margin-right: auto;
      margin-top:0;
      }
      .aboutPageh3 {
        padding-top: 0;
    }
      .productCatagory{
    
}

     
      
      img{
          margin: auto;
      }

   
}