/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */


html {
  box-sizing: border-box;
  color: white;
  font-family: "Didact Gothic", sans-serif;
  background: cover;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(211, 194, 206, 1) 0%,
    rgba(226, 175, 222, 1) 100%
  )}


nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 105%;
  background-color: white;
  z-index: 5;
 
  padding-top: 1.5em;
  padding-bottom:2em;
  color: #333333;
}
nav a{
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#16151b;
  font-size:16px;
  padding:5px;
  padding-left:10px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}


h3 {
 
  display: block;
  font-size:2em;
  margin-left:1em;
  margin-top:2em;
  color:white;
  
}

nav a:hover{
  text-shadow: 2px 2px pink;
}

  @keyframes in{
    0%{
      width: 0;
      left:0;
      right:auto;
    }
    100%{
      left:0;
      right:auto;
      width: 100%;
    }
  }
  @keyframes out{
    0%{
      width:100%;
      left: auto;
      right: 0;
    }
    100%{
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes show{
    0%{
      opacity:0;
      transform:translateY(-10px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }
  
  @for $i from 1 through 5 {
    nav a:nth-child(#{$i}){
      animation:show .2s #{$i*0.1+1}s ease 1 both;
    }
  }
  a:hover {
    border: none;
    transition: 1s;
  }
  
  .slick-slider .slick-track {
    transition-delay: 0.4s !important;
  }


h1:hover {
  text-shadow: 2px 2px pink;
}

  img{
    float:right;
    max-width:50%;
    height:100vh;
  
   
  }
  
 .slick-dots{
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
 }

.wrapper {
  width: 100%;
  padding-top: 10em;
  position:fixed;
}
h2 {
  width: 100%;
  padding: 0.5em;
  font-size: 3em;
  background-color: #333333;
  color: white;
  border-bottom: 5px solid #e2e1b9;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.35);
  width: 100%;
  margin-top:-0.7em;
 
  text-align: center;
  justify-content: centercenter;
}

.carousel {
  position:fixed;
  width: 100%;
  margin:0px;
  padding-right:-1em;

}



.slick-slide {
 
  box-sizing: border-box;
  justify-content:center;
  width:200px;
 
  background: white;
  margin: 1em;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.35);
  border-bottom: 10px teal;
  
}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.slide-select{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  
  }

 .radio-item {
    display: block;
    font-size:3em;
    color:black;

    font-weight: bold;
  }
  
  label {
    width:100%;
    cursor: pointer;
    
  }
  input[type="radio"] {
    opacity: 0;
    
  }

input:checked + label,
input:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 1em;
	width: auto;
	font-size: 1em;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--white);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
input:not(:checked) + label{
	background-color: #f0eff3;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
input:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
input:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
input:checked + label::before,
input:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(
    0deg,
    rgba(211, 194, 206, 1) 0%,
    rgba(226, 175, 222, 1) 100%
  );
	z-index: -1;
}

input:before + label {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #16151b;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
input:hover + label {
 background: linear-gradient(
    0deg,
    rgba(211, 194, 206, 1) 0%,
    rgba(226, 175, 222, 1) 100%
  );
}
input:checked + label {
  background: linear-gradient(
    0deg,
    rgba(211, 194, 206, 1) 0%,
    rgba(226, 175, 222, 1) 100%
  );
}

@media screen and (max-width: 1024px) {
  h3{
    font-size:1.5em;
  }
  h2{
    font-size:2em;
  }
  input:checked + label,
input:not(:checked) + label{
    font-size:0.5em;
  }
}

@media screen and (max-width: 480px){
  nav a{
    font-size:1em;
  }
  h3{
    font-size:1.em;
  }
  h2{
    font-size:1.5em;
  }
  input:checked + label,
input:not(:checked) + label{
    font-size:0.3em;
  }
}



#btnsubmit:disabled{
  background-color: #6975a5d7;
  opacity: 0.7;
}