@import url('https://fonts.googleapis.com/css?family=Slabo+27px|Gochi+Hand|Coiny|Exo');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Coiny', cursive;
}
html,
body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  position: relative;

}
nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 5;
 
  padding-top: 1.5em;
  padding-bottom:2em;
  color: #333333;
}
nav a{
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#16151b;
  font-size:16px;
  padding:2px;
  position:relative;
  display:inline-block;
}

 

  


nav a:hover{
  text-shadow: 2px 2px pink;
}

  @keyframes in{
    0%{
      width: 0;
      left:0;
      right:auto;
    }
    100%{
      left:0;
      right:auto;
      width: 100%;
    }
  }
  @keyframes out{
    0%{
      width:100%;
      left: auto;
      right: 0;
    }
    100%{
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes show{
    0%{
      opacity:0;
      transform:translateY(-10px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }
  
  @for $i from 1 through 5 {
    nav a:nth-child(#{$i}){
      animation:show .2s #{$i*0.1+1}s ease 1 both;
    }
  }
  a:hover {
    color: #1899D6;
    border: none;

    transition: 1s;
  }
  
  .slick-slider .slick-track {
    transition-delay: 0.4s !important;
  }


h1:hover {
  
  text-shadow: 2px 2px pink;
}
label{
  font-size: 1.5em;
}

label img{
  width:20vw;
  padding:0 5vw;
  
  margin: 0 auto;
}

  .dogFloat{
    
    display: block;
    margin: 0 auto;
    
  -webkit-animation: floatBubble 5s infinite  normal ease-out;
  animation: floatBubble 5s  infinite  normal ease-out;  
}

@-webkit-keyframes floatBubble {
    0% {
        top:1000px;
    }
    50% {
      top:500px;
  }
    100% {
        top: 0px;
    }
}
@keyframes floatBubble {
    0% {
        top:500px;
    }
    100% {
        top: 0px;
    }
}
   
  
  
 .slick-dots{
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
 }

.wrapper {
  width: 100%;
  padding-top: 10em;
  position:fixed;

}

.carousel {
  position:fixed;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  align-items: center;
  justify-content: center;
 

}
h1{
  font-size: 3em;
}
h2 {
  display:block;
  width: 100%;
  padding: 0.5em;
  font-size: 1.5em;
  text-align: center;
  
}
h3 {
  display:block;
  color:rgb(252, 50, 84);
  text-align: center;
  margin-bottom:0;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
}

.slick-slide {
  box-sizing: border-box;
  justify-items:center;
  width:200px;
  background: transparent;

  
}






.slide-select{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  
  }


 .radio-item {
    display: block;
    color:black;
    font-weight: bold;
    text-align:center;
    justify-items:center;
  }
  
  label {
    
    cursor: pointer;
    
  }

p{
  display:block;
  justify-items: center;
}

 
input[type="radio"]{
  opacity:0;
}

footer{
  position:relative;
  justify-items: center;
}

label img:hover{
  width:20.5vw;
  
}
input:hover + label{
  color:rgb(252, 50, 84);
  text-shadow: 2px 2px pink;
  width:20.5vw;
  
}
input:checked + label{
  color:rgb(252, 50, 84);
  text-shadow: 2px 2px pink;
  width:20.5vw;
  
}


/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: pink;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}